.pabsolute {
  position: absolute;
}
.prelative {
  position: relative;
}
.with-padding {
  padding: 9px;
}
#couponWrapper {
  padding-top: 45px;
}
.coupon-banner {
  position: relative;
  height: 180px;
}
.coupon-banner .coupon-banner-background {
  background: url(images/banner.9.png) center center;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: -70px;
  width: 100%;
  height: 320px;
}
.coupon-banner .prepend {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  position: absolute;
  width: 20px;
  left: -20px;
  font-size: 18px;
}
.coupon-banner .append {
  position: absolute;
  top: 0;
  font-size: 18px;
  width: 20px;
}
.centeredHeadline {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  font-size: 44px;
  line-height: 90%;
  width: auto;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.coupon-banner-fixedDiscount {
  position: relative;
  height: 180px;
  background-color: #fddc43;
}
.coupon-banner-fixedDiscount .coupon-banner-background {
  background: url(images/banner.9.png) center center;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: -70px;
  width: 100%;
  height: 320px;
}
.coupon-banner-fixedDiscount .prepend {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  position: absolute;
  width: 20px;
  left: -20px;
  font-size: 18px;
}
.coupon-banner-fixedDiscount .append {
  position: absolute;
  top: 0;
  font-size: 18px;
  width: 20px;
}
.coupon-banner-fixedDiscount .subhead {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 4px;
}
.coupon-banner-fixedDiscount .headline {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  font-size: 44px;
  line-height: 90%;
  width: auto;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.coupon-banner-fixedDiscount .prepend {
  top: -22%;
  left: -16px;
}
.coupon-banner-amountOffOver {
  position: relative;
  height: 180px;
  background-color: #2980b9;
}
.coupon-banner-amountOffOver .coupon-banner-background {
  background: url(images/banner.9.png) center center;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: -70px;
  width: 100%;
  height: 320px;
}
.coupon-banner-amountOffOver .prepend {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  position: absolute;
  width: 20px;
  left: -20px;
  font-size: 18px;
}
.coupon-banner-amountOffOver .append {
  position: absolute;
  top: 0;
  font-size: 18px;
  width: 20px;
}
.coupon-banner-amountOffOver .headline {
  margin: 4.5px 0;
}
.coupon-banner-amountOffOver .subhead-inner {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  font-size: 44px;
  line-height: 90%;
  width: auto;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  font-size: 18px;
}
.coupon-banner-amountOffOver .subhead-inner .prepend {
  top: 0;
}
.coupon-banner-amountOffOver .subhead-inner .append {
  right: -20px;
}
.coupon-banner-amountOffOver .headline-inner {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  font-size: 44px;
  line-height: 90%;
  width: auto;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.coupon-banner-amountOffOver .headline-inner .prepend {
  bottom: -22%;
  font-size: 16px;
}
.coupon-banner-amountOffOver .headline-inner .append {
  bottom: -22%;
  font-size: 16px;
  right: -20px;
}
.coupon-banner-percentageDiscount {
  position: relative;
  height: 180px;
  background-color: #ff8c00;
}
.coupon-banner-percentageDiscount .coupon-banner-background {
  background: url(images/banner.9.png) center center;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: -70px;
  width: 100%;
  height: 320px;
}
.coupon-banner-percentageDiscount .prepend {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  position: absolute;
  width: 20px;
  left: -20px;
  font-size: 18px;
}
.coupon-banner-percentageDiscount .append {
  position: absolute;
  top: 0;
  font-size: 18px;
  width: 20px;
}
.coupon-banner-percentageDiscount #coupon-scope {
  line-height: 150%;
  letter-spacing: 1px;
}
.coupon-banner-percentageDiscount .subhead {
  font-size: 16px;
  letter-spacing: 1px;
}
.coupon-banner-percentageDiscount .headline {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  font-size: 44px;
  line-height: 90%;
  width: auto;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.coupon-banner-percentageDiscount .append {
  font-family: "Arial Black", Helvetica, Tahoma, sans-serif;
  top: -22%;
  right: -20px;
}
#coupon-banner-detail {
  position: absolute;
  margin: 52.2px 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
#coupon-scope {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 4px;
}
.info-card {
  text-align: left;
  margin: 9px;
  padding: 18px 18px 9px 18px;
  font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  background: #ffffff;
  border-radius: 0px 0px 2px 2px;
}
.info-card .info-detail {
  color: #0f0f0f;
  font-size: 12px;
  padding-top: 4.5px;
}
.info-card .info-meta {
  text-align: right;
  padding: 9px 0;
  color: #b4b4b4;
}
.info-card .info-action {
  font-size: 18px;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  padding: 0.5em 0;
  border-radius: 2px;
}
.info-card .info-action .portrait {
  position: absolute;
  margin: -54px 0 0 18px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #0f0f0f;
}
#info-card-fixedDiscount .info-title,
#info-card-fixedDiscount .info-footer em {
  color: #fddc43;
}
#info-card-fixedDiscount .info-action {
  background: #fddc43;
}
#info-card-percentageDiscount .info-title,
#info-card-percentageDiscount .info-footer em {
  color: #ff8c00;
}
#info-card-percentageDiscount .info-action {
  background: #ff8c00;
}
#info-card-amountOffOver .info-title,
#info-card-amountOffOver .info-footer em {
  color: #2980b9;
}
#info-card-amountOffOver .info-action {
  background: #2980b9;
}
.info-footer {
  text-align: center;
  padding: 9px;
  color: #d2d2d2;
}
.info-footer em {
  font-style: normal;
}
