@import "lib/variables.less";
@import "lib/mixins.less";

#couponWrapper {
	padding-top:@bar-height;
}

#coupon-banner {
	background: url(images/banner.png) center center;
	background-size: 100% auto;
	background-color: @color-yellow;
	height: 180px;
}

#detail-box {
	position: absolute;
	margin: @basic-gap*2.7 0;
	width: 100%;
	text-align: center;
	color: @color-white;
}

#discount {
	font-size: @font-size-big - 2;
	letter-spacing: 1px;
	
}
#number {
	font-family: @font-family-special;
	font-size: 44px;
	line-height: 90%;
	width: auto;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

#unit {
	font-family: @font-family-special;
	position: absolute;
	top: -22%;
	color: @color-white;
	font-size: 18px;
	width: 20px;
	right: -20px;
}

#interval1 {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
}

#activity1 {
	position: absolute;
	top: 0;
	color: @color-white;
	font-size: 18px;
	width: 20px;
	left: -20px;
}

#activity2 {
	position: absolute;
	top: 0;
	color: @color-white;
	font-size: 18px;
	width: 20px;
	right: -20px;
}

#activity3 {
	position: absolute;
	bottom: -22%;
	color: @color-white;
	font-size: 16px;
	width: 20px;
	left: -20px;
}

#activity5 {
	position: absolute;
	bottom: -22%;
	color: @color-white;
	font-size: 16px;
	width: 20px;
	right: -20px;
}

#meet {
	font-family: @font-family-special;
	font-size: 18px;
	line-height: 90%;
	width: auto;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

#detail-box-2 {
	position: absolute;
	left: 0;
	top: 17%;
	width: 100%;
	height: 15%;
	text-align: center;
	color: @color-white;
}

#reduction {
	font-family: @font-family-special;
	font-size: 44px;
	line-height: 90%;
	width: auto;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

#activity4 {
	font-family: @font-family-special;
	font-size: 44px;
	line-height: 90%;
	width: auto;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

#interval2 {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 4px;
}

#unit1 {
	font-family: @font-family-special;
	position: absolute;
	top: -22%;
	color: @color-white;
	font-size: 18px;
	width: 20px;
	left: -16px;
}

#text {
	text-align: left;
   	margin: @basic-gap/2;
    padding: @basic-gap @basic-gap @basic-gap/2 @basic-gap;
    font-family: @font-family-details;
    font-size: 14px;
    letter-spacing: 1px;
    background: @color-white;
    border-radius: 0px 0px 2px 2px;
}

#text1 {
	color: @color-yellow;
 }

#text2 {
	color: @color-black;
	font-size: 12px;
	padding-top: @basic-gap/4;
}

#text3 {
	text-align: right;
	padding: @basic-gap/2 0;
	color: @color-black*12;	
}

#text4 {
	font-size: 18px;
	letter-spacing: 4px;
	text-align: center;
	color: @color-white;
	padding: 0.5em 0;
	background: @color-yellow;
	border-radius: 2px;
}

#text-number {
	text-align: center;
	padding: @basic-gap/2;
	color: @color-yellow;
}

#text6 {
	color: @color-black*14;
}

#portrait {
	position:absolute;
	margin: -@basic-gap*3 0 0 @basic-gap;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background: @color-black;
}

