@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "lib/settings";
@import "lib/mixins";
@mixin dashboard-btn-animation($animation) {
    @include default-animation($animation, 0.5s, 0.2s);
}
#dashboard-header {
    @include size(100% 180px);
    background-color: #dd4b39;
    position: relative;
}
#dashboard-background-logo {
    @include sizeAndBackground(100%, 100%, "pome_background_logo.png");
    @include position(absolute, 0 null null 0);
    opacity: 0.17;
}
#dashboard-header-avatar {
    @include position(absolute, 57px null null 130px);
    @include size(60px);
    >img {
        /*Chrome,Safari*/
        
        -webkit-clip-path: url(app/images/logo.svg) no-repeat;
        /* Firefox*/
        
        clip-path: url(app/images/logo.svg#svgClip) no-repeat;
        /* iOS support */
        
        -webkit-mask: url(app/images/logo.svg) no-repeat;
    }
}
.dashboard-header-buttons {
    background-color: #ff8a80;
    border-radius: 44px;
    color: $white;
    text-align: center;
    @include centerAndOffset(44px);
    >.icon {
        @include position(relative, 5px null null null);
        display: block;
    }
    .btn-add-text {
        @include position(relative, 8px null null null);
        font-size: 12px;
        line-height: 14px;
    }
}
#btn-add-product {
    @include dashboard-btn-animation(btn-add-product);
}
@include keyframes(btn-add-product) {
    0% {
        @include transform(translate3d(0, 0, 0));
    }
    50% {
        @include transform(translate3d(-38px, -64px, 0));
    }
    100% {
        @include transform(translate3d(-34px, -60px, 0));
    }
}
#btn-add-category {
    @include dashboard-btn-animation(btn-add-category);
}
@include keyframes(btn-add-category) {
    0% {
        @include transform(translate3d(0, 0, 0));
    }
    50% {
        @include transform(translate3d(-74px, -16px, 0));
    }
    100% {
        @include transform(translate3d(-70px, -12px, 0));
    }
}
#btn-add-cmsItem {
    @include dashboard-btn-animation(btn-add-cmsItem);
}
@include keyframes(btn-add-cmsItem) {
    0% {
        @include transform(translate3d(0, 0, 0));
    }
    50% {
        @include transform(translate3d(38px, -64px, 0));
    }
    100% {
        @include transform(translate3d(34px, -60px, 0));
    }
}
#btn-add-coupon {
    @include dashboard-btn-animation(btn-add-coupon);
}
@include keyframes(btn-add-coupon) {
    0% {
        @include transform(translate3d(0, 0, 0));
    }
    50% {
        @include transform(translate3d(74px, -16px, 0));
    }
    100% {
        @include transform(translate3d(70px, -12px, 0));
    }
}
.btn-add-text {
    display: block;
    font-size: 12px;
}
#dashboard-header-name {
    @include centerAndOffset(100%, 18px, 0, 44px);
    color: $white;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
}
#dashboard-header-recent {
    @include position(absolute, null null 16px 0);
    color: $white;
    font-size: 12px;
    @include size(100% 14px);
    line-height: 14px;
    overflow: hidden;
    text-align: center;
}
.dashboard-cards {
    box-shadow: 2px 0 3px rgba(0, 0, 0, .1);
    background-color: $white;
    margin: $basic-gap;
}
.card-header {
    font-size: $title-size;
    line-height: 1.2em;
    padding: $basic-gap $basic-gap/4*3;
    color: #757575;
}
.card-footer {
    margin-top: $basic-gap/2;
    @include size(100% 48px);
    border-top: 1px solid $border-color;
    color: $main-color;
    .icon, .card-footer-more {
        line-height: $menu-icon-width;
        display: inline-block;
        vertical-align: top;
    }
    .icon {
        font-size: $menu-icon-size;
        width: $menu-icon-width;
        text-align: center;
    }
    .card-footer-more {
        font-size: $body-size;
    }
}
.card-orders {
    border-top: 1px solid $border-color;
    @include clearListStyle();
    margin: 0 $basic-gap/2;
}
.card-order-item {
    padding: $basic-gap/2 $basic-gap/2;
}
.card-order-meta {
    font-size: $caption-size;
    line-height: 1.2em;
    color: #9b9b9b;
}
.card-order-detail {
    padding-top: $basic-gap/4*3;
    @include clearfix();
}
.card-order-price, .card-price {
    font-size: 28px;
    line-height: 30px;
    color: #757575;
    sup {
        font-size: $body-size;
        top: -0.75em;
    }
}
.card-order-price {
    float: left;
    margin-right: $basic-gap/2;
}
.card-order-info {
    font-size: $caption-size;
    line-height: 1.2em;
    padding-top: 3px;
}
.card-product-item {
    @include size(19.9%);
    margin-left: $basic-gap/4*3;
    float: left;
}
.card-products-meta {
    font-size: $caption-size;
    line-height: 1.2em;
    color: #757575;
    margin-left: $basic-gap/4*3;
    display: inline-block;
}
.card-accounting-income {
    padding: $basic-gap $basic-gap 0;
    .caption {
        color: #757575;
        margin-bottom: $basic-gap/4;
    }
}
.card-accounting-balance {
    margin: $basic-gap/4 $basic-gap 0 $basic-gap;
    font-size: $body-size;
    line-height: 1.2em;
    color: $blue;
}
