@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "lib/settings";
@import "lib/mixins";
#dashboard-header {
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: #dd4b39;
    top: 80px;
    left: 0px;
}
#dashboard-background-logo {
    @include sizeAndBackground(100%, 100%, "pome_background_logo.png");
    @include position(absolute, 0 null null 0);
    opacity: 0.3;
}
#dashboard-header-avatar {
    @include position(absolute, 57px null null 130px);
    @include size(60px);
    >img {
        /*Chrome,Safari*/
        
        -webkit-clip-path: url(app/images/logo.svg) no-repeat;
        /* Firefox*/
        
        clip-path: url(app/images/logo.svg#svgClip) no-repeat;
        /* iOS support */
        
        -webkit-mask: url(app/images/logo.svg) no-repeat;
    }
}
.dashboard-header-buttons {
    background-color: #ff8a80;
    border-radius: 48px;
    color: $white;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    @include centerAndOffset(48px);
    >.icon {
        display: block;
        font-size: 24px;
        line-height: 28px;
    }
}
#btn-add-category {
   
}
.btn-add-text {
    display: block;
    font-size: 12px;
}
#dashboard-header-name {
    @include centerAndOffset(100%, 18px, 0, 44px);
    color: $white;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
}
#dashboard-header-recent {
    @include position(absolute, null null 16px 0);
    color: $white;
    font-size: 12px;
    @include size(100% 14px);
    line-height: 14px;
    overflow: hidden;
    text-align: center;
}
