@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "lib/settings";
@import "lib/mixins";
@mixin tour-animation($name, $duration, $delay: 0, $count: 1, $fill-mode: both) {
    @include animation($name $duration $delay $count $default-timing-function $fill-mode);
}
@mixin tour-animation-linear($name, $duration, $delay: 0, $count: 1, $fill-mode: both) {
    @include animation($name $duration $delay $count linear $fill-mode);
}
@mixin tour-page1-items-animation($name, $duration: 1s, $delay: 1.4s) {
    @include tour-animation($name, $duration, $delay);
}
@mixin centerAndOffset($width, $height:$width, $offsetX:0, $offsetY:$offsetX) {
    @include position(absolute, 50% null null 50%);
    @include size($width $height);
    @include margin( 0-$height/2+$offsetY null null 0-$width/2+$offsetX);
}
@mixin sizeAndBackground($width, $height, $image-file-name) {
    @include size($width $height);
    background: url($images-dir +  $image-file-name);
    background-size: $width $height;
}
@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
//基本结构
#tour {
    @include size(100%);
    overflow: hidden;
}
#pagesWrapper {
    @include size(1280px 100%);
    transition: 1.4s;
}
.page {
    @include size(320px 100%);
    float: left;
    display: inline-block;
    position: relative;
}
.from4to0 {
    #page1 .shapesWrapper, #page2 .shapesWrapper, #page3 .shapesWrapper {
        display: none;
    }
}
#page1 {
    z-index: 4;
}
#page2 {
    z-index: 3;
}
#page3 {
    z-index: 2;
}
#page4 {
    z-index: 1;
}
.shapesWrapper {
    @include size(320px);
    margin: 0 auto;
    position: relative;
}
#cardsWrapper {
    height: 100%;
}
.pageInfo {
    text-align: center;
    padding: 0 $basic-gap $basic-gap;
    line-height: 1.2;
}
.pageTitle {
    color: #dd4b39;
    margin-bottom: $basic-gap/2;
    font-size: 20px;
}
.pageDetail {
    color: #757575;
    font-size: 12px;
}
//过渡动画
.from0to1 {
    #page2 .shapesWrapper, #page3 .shapesWrapper, #page4 .shapesWrapper {
        display: none;
    }
    #page1 {
        .pageTitle {
            @include tour-animation(fadeIn, 1s, 0);
        }
        .pageDetail {
            @include tour-animation(fadeIn, 1s, 0.5s);
        }
    }
}
.from1to2 {
    #page3 .shapesWrapper, #page4 .shapesWrapper {
        display: none;
    }
    #page2 {
        .pageDetail {
            @include tour-animation(fadeIn, 1s, 0.5s);
        }
    }
}
.from2to3 {
    #page4 .shapesWrapper {
        display: none;
    }
    #page3 {
        .pageDetail {
            @include tour-animation(fadeIn, 1s, 0.5s);
        }
    }
}
.from3to4 {
    #page4 {
        .pageDetail {
            @include tour-animation(fadeIn, 1s, 0.5s);
        }
    }
}
.from0to1 {
    @include transform(translate3d(0, 0, 0));
    &#pagesWrapper {
        transition: none;
    }
    #designer {
        @include tour-animation(designer, 0.9s, 0.6s);
    }
    #engineer {
        @include tour-animation(engineer, 0.9s, 0.8s);
    }
    #eyes1 {
        @include tour-animation-linear(eyes1, 2s, 0, infinite);
    }
    #eyes2 {
        @include tour-animation-linear(eyes1, 2s, 0, infinite);
    }
    #pm {
        @include tour-animation(pm, 0.7s, 1.5s);
    }
}
.from1to2 {
    @include transform(translate3d(-25%, 0, 0));
    #shopsWrapper {
        @include tour-animation(shopsWrapper, 0.7s, 0.9s);
        @include transform-origin(center bottom);
    }
    #shadow1 {
        @include tour-animation(shadow1, 0.2s, 1.6s);
        @include transform-origin(center top);
    }
    #shadow2 {
        @include tour-animation(shadow1, 0.3s, 1.4s);
        @include transform-origin(center top);
    }
    #roof {
        @include tour-animation(roof, 0.77s, 1.2s);
        @include transform-origin(center top);
    }
    #shop-logo {
        @include tour-animation(logo, 0.6s, 2.5s);
        @include transform-origin(center bottom);
    }
    #bag {
        @include tour-page1-items-animation(bag);
    }
    #chair {
        @include tour-page1-items-animation(chair);
    }
    #breakfast {
        @include tour-page1-items-animation(breakfast);
    }
    #shoes {
        @include tour-page1-items-animation(shoes);
    }
    #iphone {
        @include tour-page1-items-animation(iphone);
    }
    #iwatch {
        @include tour-page1-items-animation(iwatch);
    }
}
.from2to3 {
    @include transform(translate3d(-50%, 0, 0));
    #bag {
        @include transform-origin(center center);
        @include tour-animation-linear(bag-out, 0.8s, 0.1s);
        @include animation-timing-function(cubic-bezier(.6, .07, .86, .49));
    }
    #card-bag {
        @include transform-origin(center center);
        @include tour-animation-linear(fadeIn, 0.1s, 0.8s);
    }
    #card5 {
        @include transform-origin(center 355px);
        @include tour-animation(card5, 0.8s, 1.8s);

    }
    #card4 {
        @include transform-origin(center 355px);
        @include tour-animation(card4, 0.8s, 1.8s);
    }
    #card3 {
        @include transform-origin(center 355px);
        @include tour-animation(card3, 0.7s, 1.7s);
    }
    #card2 {
        @include transform-origin(center 355px);
        @include tour-animation(card2, 0.7s, 1.7s);
    }

    #cardsWrapper {
        @include transform-origin(center center);
        @include tour-animation(cardsWrapper, 0.5s, 0.2s);
    }
    #card-content1 {
        @include tour-animation(card-content1, 0.3s, 1.5s);
    }
    #card-content2 {
        @include tour-animation(card-content1, 0.3s, 1.5s);
    }
}
.from3to4 {
    @include transform(translate3d(-75%, 0, 0));
    #cloud {
        @include tour-animation-linear(cloud, 20s, 0, infinite);
        @include transform-origin(center center);
    }
    #hot {
        @include tour-animation-linear(cloud, 65s, 0, infinite);
        @include transform-origin(center center);
    }
    #card5 {
        @include tour-animation-linear(card5-out, 1.9s, 0);

    }
    #card4 {
        @include tour-animation-linear(card4-out, 1.9s);

    }
    #card3 {
        @include tour-animation-linear(card3-out, 1.9s, 0);

    }
    #card2 {
        @include tour-animation-linear(card2-out, 1.9s, 0);

    }
    #card1 {
        @include tour-animation-linear(card1-out, 1.5s, 0);

    }
    #earthsWrapper {
        @include transform-origin(center 180px);
        @include tour-animation(cardsWrapper, 0.7s, 0.7s);
    }
    #dialog-pome {
        @include tour-animation-linear(dialog-pome, 0.22s, 2.2s);
        @include transform-origin(center top);
    }
}
.from4to0 {
    @include transform(translate3d(-100%, 0, 0));
    #earth {
        @include tour-animation-linear(earth-out, 0.8s);
        @include transform-origin(center 180px);
    }
}
//Page1
#pm {
    @include position(absolute, 20px null null 29px);
    @include sizeAndBackground(260px, 260px, "pm.png");
}
#designer {
    @include position(absolute, 20px null null 29px);
    @include sizeAndBackground(260px, 260px, "designer.png");
}
#engineer {
    @include position(absolute, 20px null null 29px);
    @include sizeAndBackground(260px, 260px, "engineer.png");
}
.eyes {
    position: absolute;
    background-color: #373737;
    border-radius: 100%;
    width: 2px;
    height: 2px;
}
#eyes1 {
    top: 138px;
    left: 91px;
}
#eyes2 {
    top: 138px;
    left: 81px;
}
@include keyframes(pm) {
    0% {
        @include transform(translate3d(-320px, 0px, 0));
    }
    60% {
        @include transform(translate3d(10px, 0px, 0));
    }
    100% {
        @include resetTranslate();
    }
}
@include keyframes(designer) {
    0% {
        @include transform(translate3d(-320px, 0px, 0));
    }
    100% {
        @include resetTranslate();
    }
}
@include keyframes(eyes1) {
    0% {
        @include transform(translate3d(0, 0, 0));
    }
    50% {
        @include transform(translate3d(4px, 0, 0));
    }
    100% {
        @include transform(translate3d(0, 0, 0));
    }
}
@include keyframes(engineer) {
    0% {
        @include transform(translate3d(-320px, 0px, 0));
    }
    20% {
        @include transform(translate3d(0, 0, 0));
    }
    100% {
        @include resetTranslate();
    }
}
@include keyframes(bag-out) {
    0% {
        @include resetTranslate();
    }
    12% {
        @include transform(translate3d(85px, 1px, 0) rotate3d(0, 0, 1, -90deg) scale3d(2, 2, 1));
    }
    24% {
        @include transform(translate3d(175px, 2px, 0) rotate3d(0, 0, 1, -180deg) scale3d(2, 2, 1));
    }
    36% {
        @include transform(translate3d(275px, 3px, 0) rotate3d(0, 0, 1, -270deg) scale3d(2, 2, 1));
    }
    48% {
        @include transform(translate3d(355px, 3px, 0) rotate3d(0, 0, 1, -360deg) scale3d(2, 2, 1));
    }
    55% {
        @include transform(translate3d(355px, 3px, 0) rotate3d(0, 0, 1, -380deg) scale3d(2, 2, 1));
    }
    72% {
        @include transform(translate3d(355px, 3px, 0) rotate3d(0, 0, 1, -358deg) scale3d(2, 2, 1));
    }
    75% {
        @include transform(translate3d(355px, 3px, 0) rotate3d(0, 0, 1, -360deg) scale3d(2, 2, 1));
    }
    99% {
        @include transform(translate3d(355px, 3px, 0) rotate3d(0, 0, 1, -360deg) scale3d(2, 2, 1));
        opacity: 1;
    }
    100% {
        @include transform(translate3d(355px, 3px, 0) rotate3d(0, 0, 1, -360deg) scale3d(2, 2, 1));
        opacity: 0;
    }
}
//Page2 商店
#shopsWrapper {
    @include centerAndOffset(170px, 200px);
    background-color: #55a5db;
}
#shadow1 {
    @include position(absolute, null null 0 6px);
    @include size(158px 160px);
    background-color: #0d2f3f;
}
#shadow2 {
    @include position(absolute, 44px null null 0);
    @include size(170px 20px);
    background-color: #36698c;
}
#roof {
    @include position(absolute, 30px null null -10px);
    @include sizeAndBackground(190px, 30px, "roof.png");
}
#shop-logo {
    @include position(absolute, -24px null null 62px);
    @include sizeAndBackground(48px, 48px, "logo.png");
}
#chair {
    @include position(absolute, null 20px 0 null);
    @include sizeAndBackground(64px, 64px, "chair.png");
}
#breakfast {
    @include position(absolute, null null 0 25px);
    @include sizeAndBackground(44px, 44px, "breakfast.png");
}
#shoes {
    @include position(absolute, 110px null null 32px);
    @include sizeAndBackground(36px, 36px, "shoes.png")
}
#bag {
    @include position(absolute, 52px null null 25px);
    @include sizeAndBackground(50px, 50px, "bag.png");
}
#iphone {
    @include position(absolute, 47px 26px null null);
    @include sizeAndBackground(82px, 82px, "iphone.png");
}
#iwatch {
    @include position(absolute, 80px 7px null null);
    @include sizeAndBackground(44px, 44px, "iwatch.png");
}
@include keyframes(shopsWrapper) {
    0% {
        @include transform(scale3d(1, 0, 1));
    }
    80% {
        @include transform(scale3d(1, 1.2, 1));
    }
    100% {
        @include transform(scale3d(1, 1, 1));
    }
}
@include keyframes(shadow1) {
    0% {
        @include transform(scale3d(1, 0, 1));
    }
    100% {
        @include transform(scale3d(1, 1, 1));
    }
}
@include keyframes(roof) {
    0% {
        @include transform(rotate3d(1, 0, 0, 90deg));
    }
    100% {
        @include transform(rotate3d(1, 0, 0, 0deg));
    }
}
@include keyframes(logo) {
    0% {
        @include transform(rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1));
    }
    100% {
        @include transform(rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1));
    }
}
@include keyframes(breakfast) {
    0% {
        @include transform(translate3d(-320px, 300px, 0));
    }
    100% {
        @include resetTranslate();
    }
}
@include keyframes(chair) {
    0% {
        @include transform(translate3d(320px, 300px, 0));
    }
    100% {
        @include resetTranslate();
    }
}
@include keyframes(shoes) {
    0% {
        @include transform(translate3d(-320px, 0px, 0));
    }
    100% {
        @include resetTranslate();
    }
}
@include keyframes(bag) {
    0% {
        @include transform(translate3d(-640px, -250px, 0));
    }
    100% {
        @include resetTranslate();
    }
}
@include keyframes(iphone) {
    0% {
        @include transform(translate3d(320px, 0px, 0));
    }
    100% {
        @include resetTranslate();
    }
}
@include keyframes(iwatch) {
    0% {
        @include transform(translate3d(320px, -350px, 0));
    }
    100% {
        @include resetTranslate();
    }
}
//Page3
.card {
    @include centerAndOffset(120px 160px);
    border-radius: 0 0 4px 4px;
}
.card-small {
    @include centerAndOffset(110px, 150px);
    border-radius: 0 0 4px 4px;
}
.card-image {
    @include position(absolute, 0 null null 0);
    @include size(110px);
}
#card-show1 {
    @include size(120px);
    background-color: #fdd835;
}
#card-show2 {
    background-color: #7cb342;
}
#card-show3 {
    background-color: #00acc1;
}
#card-show4 {
    background-color: #3949ab;
}
#card-show5 {
    background-color: #00897b;
}
#card1 {
    background: $white;
}
#card2,#card3 {
    background: darken($white,10%);
}
#card4,#card5 {
    background: darken($white,20%);
}
#card-bag {
    @include position(absolute, 10px null null 10px);
    @include sizeAndBackground(100px, 100px, "bag.png");
}
#card-shoes {
    @include position(absolute, 15px null null 15px);
    @include sizeAndBackground(80px, 80px, "shoes.png");
}
#card-chair {
    @include position(absolute, 10px null null 10px);
    @include sizeAndBackground(90px, 90px, "chair.png");
}
#card-iwatch {
    @include position(absolute, 10px null null 10px);
    @include sizeAndBackground(90px, 90px, "iwatch.png");
}
#card-breakfast {
    @include position(absolute, 20px null null 20px);
    @include sizeAndBackground(70px, 70px, "breakfast.png");
}
#card-content1 {
    @include position(absolute, 128px null null 14px);
    @include size(70px 10px);
    background-color: $black*16.7;
}
#card-content2 {
    @include position(absolute, null null 8px 14px);
    @include size(50px 10px);
    background-color: $black*16.7;
}
.icon-shopping-cart {
    @include position(absolute, null 10px 4px null);
    @include size(15px 24px);
    color: $red;
}
@include keyframes(card5) {
    0% {
        @include rotateZ();
    }
    100% {
        @include rotateZ(14deg);
    }
}
@include keyframes(card4) {
    0% {
        @include rotateZ(0);
    }
    100% {
        @include rotateZ(-14deg);
    }
}
@include keyframes(card3) {
    0% {
        @include rotateZ();
    }
    100% {
        @include rotateZ(-7deg);
    }
}
@include keyframes(card2) {
    0% {
        @include rotateZ();
    }
    100% {
        @include rotateZ(7deg);
    }
}
@include keyframes(cardsWrapper) {
    0% {
        @include transform(scale3d(0, 0, 1));
    }
    100% {
        @include transform(scale3d(1, 1, 1));
    }
}
@include keyframes(card-content1) {
    0% {
        @include transform(scale3d(0, 0, 1));
    }
    100% {
        @include transform(scale3d(1, 1, 1));
    }
}
@include keyframes(card-content2) {
    0% {
        @include transform(scale3d(0, 0, 1));
    }
    100% {
        @include transform(scale3d(1, 1, 1));
    }
}
@include keyframes(card1-out) {
    20%, 40%, 60%, 80%, 100% {
        @include transform-origin(center center);
    }
    0% {
        @include transform(translate3d(0px, 0px, 0) rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1));
    }
    20% {
        @include transform(translate3d(110px, -105px, 0) rotate3d(0, 0, 1, 90deg) scale3d(0.4, 0.4, 1));
    }
    40% {
        @include transform(translate3d(230px, -85px, 0) rotate3d(0, 0, 1, 180deg) scale3d(0.3, 0.3, 1));
    }
    60% {
        @include transform(translate3d(312px, -61px, 0) rotate3d(0, 0, 1, 270deg) scale3d(0.2, 0.2, 1));
    }
    80% {
        @include transform(translate3d(372px, -24px, 0) rotate3d(0, 0, 1, 360deg) scale3d(0.1, 0.1, 1));
    }
    100% {
        @include transform(translate3d(410px, 33px, 0) rotate3d(0, 0, 1, 450deg) scale3d(0, 0, 1));
    }
}
@include keyframes(card2-out) {
    20%, 40%, 60%, 80%, 100% {
        @include transform-origin(center center);
    }
    0% {
        @include transform(translate3d(0px, 0px, 0) rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1));
    }
    25% {
        @include transform(translate3d(102px, 132px, 0) rotate3d(0, 0, 1, 90deg) scale3d(0.3, 0.3, 1));
    }
    50% {
        @include transform(translate3d(172px, 112px, 0) rotate3d(0, 0, 1, 180deg) scale3d(0.2, 0.2, 1));
    }
    75% {
        @include transform(translate3d(254px, 89px, 0) rotate3d(0, 0, 1, 270deg) scale3d(0.1, 0.1, 1));
    }
    100% {
        @include transform(translate3d(314px, 72px, 0) rotate3d(0, 0, 1, 360deg) scale3d(0, 0, 1));
    }
}
@include keyframes(card3-out) {
    1%, 20%, 40%, 60%, 80%, 100% {
        @include transform-origin(center center);
    }
    0% {
        @include transform(translate3d(0px, 0px, 0) rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1));
    }
    25% {
        @include transform(translate3d(137px, -89px, 0) rotate3d(0, 0, 1, 90deg) scale3d(0.4, 0.4, 1));
    }
    50% {
        @include transform(translate3d(257px, -88px, 0) rotate3d(0, 0, 1, 180deg) scale3d(0.27, 0.27, 1));
    }
    75% {
        @include transform(translate3d(317px, -87px, 0) rotate3d(0, 0, 1, 270deg) scale3d(0.13, 0.13, 1));
    }
    100% {
        @include transform(translate3d(363px, -86px, 0) rotate3d(0, 0, 1, 360deg) scale3d(0, 0, 1));
    }
}
@include keyframes(card4-out) {
    10%, 20%, 40%, 60%, 80%, 100% {
        @include transform-origin(center center);
    }
    0% {} 10% {
        @include transform(translate3d(0px, 0px, 0) rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1));
    }
    25% {
        @include transform(translate3d(80px, -80px, 0) rotate3d(0, 0, 1, 90deg) scale3d(0.4, 0.4, 1));
    }
    50% {
        @include transform(translate3d(180px, -79px, 0) rotate3d(0, 0, 1, 180deg) scale3d(0.3, 0.3, 1));
    }
    75% {
        @include transform(translate3d(240px, -78px, 0) rotate3d(0, 0, 1, 270deg) scale3d(0.15, 0.15, 1));
    }
    100% {
        @include transform(translate3d(286px, -77px, 0) rotate3d(0, 0, 1, 360deg) scale3d(0, 0, 1));
    }
}
@include keyframes(card5-out) {
    10%, 20%, 40%, 60%, 80%, 100% {
        @include transform-origin(center center);
    }
    0% {} 10% {
        @include transform(translate3d(0px, 0px, 0) rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1));
    }
    25% {
        @include transform(translate3d(106px, -25px, 0) rotate3d(0, 0, 1, 90deg) scale3d(0.5, 0.5, 1));
    }
    50% {
        @include transform(translate3d(226px, -23px, 0) rotate3d(0, 0, 1, 180deg) scale3d(0.4, 0.4, 1));
    }
    75% {
        @include transform(translate3d(296px, -21px, 0) rotate3d(0, 0, 1, 270deg) scale3d(0.2, 0.2, 1));
    }
    100% {
        @include transform(translate3d(334px, -18px, 0) rotate3d(0, 0, 1, 360deg) scale3d(0, 0, 1));
    }
}
@include keyframes(card-bag) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
//Page4
#cloud {
    @include position(absolute, 10px null null 10px);
    @include sizeAndBackground(300px, 300px, "cloud.png");
}
#earth {
    @include position(absolute, 10px null null 10px);
    @include sizeAndBackground(300px, 300px, "earth.png");
}
#hot {
    @include position(absolute, 10px null null 10px);
    @include sizeAndBackground(300px, 300px, "hot.png");
}
#dialog-pome {
    @include position(absolute, 145px null null 122px);
    @include size(60px 30px);
    background-color: $white;
    border-radius: 20px;
}
#dialog-text {
    color: $red;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    padding-top: 2px;
}
#dialog-pome:before {
    @include position(absolute, -12px null null 38px);
    @include size(0px);
    border-style: solid solid solid solid;
    border-width: 0 3px 13px 3px;
    border-color: transparent transparent $white transparent;
    display: block;
    content: '';
}
@include keyframes(cloud) {
    0% {
        @include rotateZ();
    }
    25% {
        @include rotateZ(90deg);
    }
    50% {
        @include rotateZ(180deg);
    }
    75% {
        @include rotateZ(270deg);
    }
    100% {
        @include rotateZ(360deg);
    }
}
@include keyframes(earthsWrapper) {
    0% {
        @include transform(scale3d(1, 0, 1));
    }
    80% {
        @include transform(scale3d(1, 1.2, 1));
    }
    100% {
        @include transform(scale3d(1, 1, 1));
    }
}
@include keyframes(dialog-pome) {
    0% {
        @include transform(scale3d(0, 0, 1));
    }
    100% {
        @include transform(scale3d(1, 1, 1));
    }
}
@include keyframes(earth-out) {
    0% {
        opacity: 1;
        @include transform(scale3d(1, 1, 1));
    }
    100% {
        opacity: 0;
        @include transform(scale3d(2, 2, 1));
    }
}
