@import "lib/variables.less";

.transform( @property: none) {
    -webkit-transform: @property;
    -moz-transform: @property;
    -ms-transform: @property;
    -o-transform: @property;
    transform: @property;
}
@tour-timing-function: cubic-bezier(.36, 0, .15, 1);
.tour-animation(@name, @duration, @delay: 0, @count: 1, @fill-mode: both) {
    -webkit-animation: @name @duration @delay @count @tour-timing-function @fill-mode;
    -moz-animation: @name @duration @delay @count @tour-timing-function @fill-mode;
    -ms-animation: @name @duration @delay @count @tour-timing-function @fill-mode;
    -o-animation: @name @duration @delay @count @tour-timing-function @fill-mode;
    animation: @name @duration @delay @count @tour-timing-function @fill-mode;
}
.tour-animation-linear(@name, @duration, @delay: 0, @count: 1, @fill-mode: both) {
    -webkit-animation: @name @duration @delay @count linear @fill-mode;
    -moz-animation: @name @duration @delay @count linear @fill-mode;
    -ms-animation: @name @duration @delay @count linear @fill-mode;
    -o-animation: @name @duration @delay @count linear @fill-mode;
    animation: @name @duration @delay @count linear @fill-mode;
}
.resetTranslate {
	.transform(translate3d(0,0,0));
}
.resetAllTransform {
	.transform(translate3d(0,0,0) scale3d(1,1,1) rotate3d(0,0,1,0deg));
}
.rotateZ(@angle: 0deg) {
	.transform(rotate3d(0, 0, 1, @angle));
}
#tour {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#pagesWrapper {
    width: 1280px;
    height: 100%;
    transition:1.4s;
}
.page {
    width: 320px;
    height: 100%;
    float: left;
    display: inline-block;
    position:relative;
}
#page1 {
	z-index:4;
}
#page2 {
	z-index:3;
}
#page3 {
	z-index:2;
}
#page4 {
	z-index:1;
}
.shapesWrapper {
    margin: 0 auto;
    position: relative;
    width: 320px;
    height: 320px;
}
#cardsWrapper {
	height: 100%;
}
.from4to0 {
	#page1 .shapesWrapper, #page2 .shapesWrapper,#page3 .shapesWrapper {
		display: none;
	}
	
}

@-webkit-keyframes fadeIn {
	0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.from0to1 {
	#page2 .shapesWrapper,#page3 .shapesWrapper,#page4 .shapesWrapper {
		display: none;
	}
	#page1 {
		.pageTitle {
			.tour-animation(fadeIn, 1s, 0);
		}
		.pageDetail {
			.tour-animation(fadeIn, 1s, 0.5s);
		}
	}
}
.from1to2 {
	#page3 .shapesWrapper,#page4 .shapesWrapper {
		display: none;
	}
	#page2 {

		.pageDetail {
			.tour-animation(fadeIn, 1s, 0.5s);

		}
	}
}
.from2to3 {
	#page4 .shapesWrapper {
		display: none;
	}
	#page3 {

		.pageDetail {
			.tour-animation(fadeIn, 1s, 0.5s);
		}
	}
}
.from3to4 {
	#page4 {

		.pageDetail {
			.tour-animation(fadeIn, 1s, 0.5s);
		}
	}
}
.from0to1 {
	.transform(translate3d(0, 0, 0));
	&#pagesWrapper {
		transition:none;
	}
	
	#designer {
		.tour-animation(designer, 0.9s, 0.6s);
	}
	#engineer {
		.tour-animation(engineer, 0.9s, 0.8s);
	}
	#eyes1 {
		.tour-animation-linear(eyes1, 2s, 0, infinite);
	}
	#eyes2 {
		.tour-animation-linear(eyes1, 2s, 0, infinite);
	}
	#pm {
		.tour-animation(pm, 0.7s, 1.5s);
	}
}
.from1to2 {
	.transform(translate3d(-25%, 0, 0));

	#shopsWrapper {
	    .tour-animation(shopsWrapper, 0.7s, 0.9s);
	    -webkit-transform-origin: center bottom;
	}
	#shadow1 {
		.tour-animation(shadow1, 0.2s, 1.6s);
	    -webkit-transform-origin: center top;
	}
	#shadow2 {
		.tour-animation(shadow1, 0.3s, 1.4s);
        -webkit-transform-origin: center top;
	}
	#roof {
		.tour-animation(roof, 0.77s, 1.2s);
        -webkit-transform-origin: center top;
	}
	#shop-logo {
		.tour-animation(logo, 0.6s, 2.5s);
		-webkit-transform-origin: center bottom;
	}
	#bag {
		.tour-page1-items-animation(bag);
	}
	#chair {
	    .tour-page1-items-animation(chair);
	}
	#breakfast {
    	.tour-page1-items-animation(breakfast);
	}
	#shoes {
		.tour-page1-items-animation(shoes);
	}
	#iphone {
	    .tour-page1-items-animation(iphone);
	}
	#iwatch {
	    .tour-page1-items-animation(iwatch);
	}
}
.from2to3 {
	.transform(translate3d(-50%, 0, 0));
	#bag {
		-webkit-transform-origin: center center;
    	.tour-animation-linear(bag-out, 0.8s, 0.1s);
    	-webkit-timing-function:cubic-bezier(.6, .07, .86,.49);
	}
	#card-bag {
		-webkit-transform-origin: center center;
    	.tour-animation-linear(card-bag, 0.1s, 1.5s);
	}
	#card5 {
		-webkit-transform-origin: center 355px;
    	.tour-animation(card5, 0.8s, 1.6s);
    	.card-small();
    	background-color: @color-black*15.4;
	}
	#card4 {
		-webkit-transform-origin: center 355px;
    	.tour-animation(card4, 0.8s, 1.6s);
    	.card-small();
    	background-color: @color-black*15.4;
	}
	#card3 {
	    -webkit-transform-origin: center 400px;
    	.tour-animation(card3, 0.7s, 1.5s);
    	.card-small();
    	background-color: @color-black*16.2;
	}
	#card2 {
	    -webkit-transform-origin: center 400px;
    	.tour-animation(card2, 0.7s, 1.5s);
    	.card-small();
    	background-color: @color-black*16.2;
	}
	#card1 {
		.card();
		background-color: @color-black*17;
	}
	#cardsWrapper {
		-webkit-transform-origin: center center;
		.tour-animation(cardsWrapper, 0.7s, 0.7s);

	}
	#card-content1{
    	.tour-animation(card-content1, 0.3s, 1.5s);
	}
	#card-content2{
    	.tour-animation(card-content1, 0.3s, 1.5s);
	}
}
@-webkit-keyframes bag-out {

    0% {
        .resetTranslate();
    }
    12% {
        .transform(translate3d(85px, 1px, 0) rotate3d(0,0,1,-90deg) scale3d(2,2,1));
    }
    24% {
        .transform(translate3d(175px, 2px, 0) rotate3d(0,0,1,-180deg) scale3d(2,2,1));
    }
    36% {
        .transform(translate3d(275px, 3px, 0) rotate3d(0,0,1,-270deg) scale3d(2,2,1));
    }
    48% {
        .transform(translate3d(355px, 3px, 0) rotate3d(0,0,1,-360deg) scale3d(2,2,1));
    }
    55% {
        .transform(translate3d(355px, 3px, 0) rotate3d(0,0,1,-380deg) scale3d(2,2,1));
    }
    72% {
        .transform(translate3d(355px, 3px, 0) rotate3d(0,0,1,-358deg) scale3d(2,2,1));
    }
 	75% {
        .transform(translate3d(355px, 3px, 0) rotate3d(0,0,1,-360deg) scale3d(2,2,1));
    }
    100% {
        .transform(translate3d(355px, 3px, 0) rotate3d(0,0,1,-360deg) scale3d(2,2,1));
    }

}
@-webkit-keyframes card-bag {
	0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.from3to4 {
	.transform(translate3d(-75%, 0, 0));
	#cloud {
		.tour-animation-linear(cloud, 20s, 0, infinite);
		-webkit-transform-origin: center center;
	}
	#hot {
		.tour-animation-linear(cloud, 65s, 0, infinite);
		-webkit-transform-origin: center center;
	}
	#card5 {
    	.tour-animation-linear(card5-out, 1.9s, 0);
    	.card-small();
    	background-color: @color-black*15.4;
	}
	#card4 {
    	.tour-animation-linear(card4-out, 1.9s);
    	.card-small();
    	background-color: @color-black*15.4;
	}
	#card3 {
    	.tour-animation-linear(card3-out, 1.9s, 0);
    	.card-small();
    	background-color: @color-black*16.2;
	}
	#card2 {
    	.tour-animation-linear(card2-out, 1.9s, 0);
    	.card-small();
    	background-color: @color-black*16.2;
	}
	#card1 {
    	.tour-animation-linear(card1-out, 1.5s, 0);
		.card();
		background-color: @color-black*17;
	}
	#earthsWrapper {
		-webkit-transform-origin: center 180px;
		.tour-animation(cardsWrapper, 0.7s, 0.7s);
	}
	#dialog-pome {
	    .tour-animation-linear(dialog-pome, 0.22s, 2.2s);
	    -webkit-transform-origin: center top;
	}
	
}
.from4to0 {
	.transform(translate3d(-100%, 0, 0));

	#earth {
		.tour-animation-linear(earth-out, 0.8s);
		-webkit-transform-origin: center 180px;
	}
}

@-webkit-keyframes earth-out {
	0% {
		opacity: 1;
        .transform(scale3d(1,1,1));
    }
    100%  {
    	opacity: 0;
    	.transform(scale3d(2,2,1));
    }
}
@-webkit-keyframes card1-out {
	20%,40%,60%,80%,100% {
        -webkit-transform-origin: center center;
	}
    0% {
        .transform(translate3d(0px, 0px, 0) rotate3d(0,0,1,0deg) scale3d(1,1,1));
    }
    20% {
        .transform(translate3d(110px, -105px, 0) rotate3d(0,0,1,90deg) scale3d(0.4,0.4,1));
    }
    40% {
        .transform(translate3d(230px, -85px, 0) rotate3d(0,0,1,180deg) scale3d(0.3,0.3,1));
    }
 	60% {
        .transform(translate3d(312px, -61px, 0) rotate3d(0,0,1,270deg) scale3d(0.2,0.2,1));
    }
    80%  {
    	.transform(translate3d(372px, -24px, 0) rotate3d(0,0,1,360deg) scale3d(0.1,0.1,1));
    }
    100%  {
    	.transform(translate3d(410px, 33px, 0) rotate3d(0,0,1,450deg) scale3d(0,0,1));
    }
}
@-webkit-keyframes card2-out {
	20%,40%,60%,80%,100% {
        -webkit-transform-origin: center center;
	}
    0% {
        .transform(translate3d(0px, 0px, 0) rotate3d(0,0,1,0deg) scale3d(1,1,1));
    }
    25% {
        .transform(translate3d(102px, 132px, 0) rotate3d(0,0,1,90deg) scale3d(0.3,0.3,1));
    }
    50% {
        .transform(translate3d(172px, 112px, 0) rotate3d(0,0,1,180deg) scale3d(0.2,0.2,1));
    }
 	75% {
        .transform(translate3d(254px, 89px, 0) rotate3d(0,0,1,270deg) scale3d(0.1,0.1,1));
    }
    100%  {
    	.transform(translate3d(314px, 72px, 0) rotate3d(0,0,1,360deg) scale3d(0,0,1));
    }
}
@-webkit-keyframes card3-out {
	1%,20%,40%,60%,80%,100%  {
        -webkit-transform-origin: center center;
	}
    0% {
        .transform(translate3d(0px, 0px, 0) rotate3d(0,0,1,0deg) scale3d(1,1,1));
    }
    25% {
        .transform(translate3d(137px, -89px, 0) rotate3d(0,0,1,90deg) scale3d(0.4,0.4,1));
    }
    50% {
        .transform(translate3d(257px, -88px, 0) rotate3d(0,0,1,180deg) scale3d(0.27,0.27,1));
    }
 	75% {
        .transform(translate3d(317px, -87px, 0) rotate3d(0,0,1,270deg) scale3d(0.13,0.13,1));
    }
    100%  {
    	.transform(translate3d(363px, -86px, 0) rotate3d(0,0,1,360deg) scale3d(0,0,1));
    }
}
@-webkit-keyframes card4-out {
	10%,20%,40%,60%,80%,100% {
        -webkit-transform-origin: center center;
	}
    0% {

    }
    10% {
        .transform(translate3d(0px, 0px, 0) rotate3d(0,0,1,0deg) scale3d(1,1,1));
    }
    25% {
        .transform(translate3d(80px, -80px, 0) rotate3d(0,0,1,90deg) scale3d(0.4,0.4,1));
    }
    50% {
        .transform(translate3d(180px, -79px, 0) rotate3d(0,0,1,180deg) scale3d(0.3,0.3,1));
    }
 	75% {
        .transform(translate3d(240px, -78px, 0) rotate3d(0,0,1,270deg) scale3d(0.15,0.15,1));
    }
    100%  {
    	.transform(translate3d(286px, -77px, 0) rotate3d(0,0,1,360deg) scale3d(0,0,1));
    }
}
@-webkit-keyframes card5-out {
	10%,20%,40%,60%,80%,100% {
        -webkit-transform-origin: center center;
	}
    0% {

    }
    10% {
        .transform(translate3d(0px, 0px, 0) rotate3d(0,0,1,0deg) scale3d(1,1,1));
    }
    25% {
        .transform(translate3d(106px, -25px, 0) rotate3d(0,0,1,90deg) scale3d(0.5,0.5,1));
    }
    50% {
        .transform(translate3d(226px, -23px, 0) rotate3d(0,0,1,180deg) scale3d(0.4,0.4,1));
    }
 	75% {
        .transform(translate3d(296px, -21px, 0) rotate3d(0,0,1,270deg) scale3d(0.2,0.2,1));
    }
    100%  {
    	.transform(translate3d(334px, -18px, 0) rotate3d(0,0,1,360deg) scale3d(0,0,1));
    }
}
#shopsWrapper {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -85px;
    width: 170px;
    height: 200px;
    background-color: #55a5db;
}
@-webkit-keyframes shopsWrapper {
    0% {
        .transform(scale3d(1, 0, 1));
    }
    80% {
        .transform(scale3d(1, 1.2, 1));
    }
    100% {
        .transform(scale3d(1, 1, 1));
    }
}
#shadow1 {
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 158px;
    height: 160px;
    background-color: #0d2f3f;
}
@-webkit-keyframes shadow1 {
    0% {
        .transform(scale3d(1, 0, 1));
    }
    100% {
        .transform(scale3d(1, 1, 1));
    }
}
#shadow2 {
    position: absolute;
    top: 44px;
    left: 0;
    width: 170px;
    height: 20px;
    background-color: #36698c;
}
#roof {
    position: absolute;
    top: 30px;
    left: -10px;
    background: url(app/images/roof.png);
    background-size: 190px 30px;
    width: 190px;
    height: 30px;
}
@-webkit-keyframes roof {
    0% {
        .transform(rotate3d(1,0,0,90deg));
    }
    100% {
        .transform(rotate3d(1,0,0,0deg));
    }
}
#shop-logo {
    position: absolute;
    top: -24px;
    left: 62px;
    background: url(app/images/logo.png);
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
}
@-webkit-keyframes logo {
    0% {
        .transform(rotate3d(0,0,1,90deg) scale3d(0, 0, 1));
    }
    100% {
        .transform(rotate3d(0,0,1,0deg) scale3d(1, 1, 1));
    }
}


.tour-page1-items-animation(@name, @duration: 1s, @delay: 1.4s) {
    .tour-animation(@name, @duration, @delay);
}


#chair {
    position: absolute;
    bottom: 0;
    right: 20px;
    background: url(app/images/chair.png);
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
}
@-webkit-keyframes chair {
    0% {
        .transform(translate3d(320px, 300px, 0));
    }
    100% {
        .resetTranslate();
    }
}
#breakfast {
    position: absolute;
    bottom: 0;
    left: 25px;
    background: url(app/images/breakfast.png);
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
}
@-webkit-keyframes breakfast {
    0% {
        .transform(translate3d(-320px, 300px, 0));
    }
    100% {
        .resetTranslate();
    }
}
#shoes {
    position: absolute;
    top: 110px;
    left: 32px;
    background: url(app/images/shoes.png);
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
}
@-webkit-keyframes shoes {
    0% {
        .transform(translate3d(-320px, 0px, 0));
    }
    100% {
        .resetTranslate();
    }
}
#bag {
    position: absolute;
    top: 52px;
    left: 25px;
    background: url(app/images/bag.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}
@-webkit-keyframes bag {
    0% {
        .transform(translate3d(-640px, -250px, 0));
    }
    100% {
        .resetTranslate();
    }
}
#iphone {
    position: absolute;
    top: 47px;
    left: 62px;
    background: url(app/images/iphone.png);
    background-size: 82px 82px;
    width: 82px;
    height: 82px;
}
@-webkit-keyframes iphone {
    0% {
        .transform(translate3d(320px, 0px, 0));
    }
    100% {
        .resetTranslate();
    }
}
#iwatch {
    position: absolute;
    top: 80px;
    right: 7px;
    background: url(app/images/iwatch.png);
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
}
@-webkit-keyframes iwatch {
    0% {
        .transform(translate3d(320px, -350px, 0));
    }
    100% {
        .resetTranslate();
    }
}
#pm {
    position: absolute;
    top: 20px;
    left: 29px;
    background: url(app/images/pm.png);
    background-size: 260px 260px;
    width: 260px;
    height: 260px;
}
#designer {
    position: absolute;
    top: 20px;
    left: 29px;
    background: url(app/images/designer.png);
    background-size: 260px 260px;
    width: 260px;
    height: 260px;
}
#engineer {
    position: absolute;
    top: 20px;
    left: 29px;
    background: url(app/images/engineer.png);
    background-size: 260px 260px;
    width: 260px;
    height: 260px;
}
.eyes {
    position: absolute;
    background-color: #373737;
    border-radius: 100%;
    width: 2px;
    height: 2px;
}
#eyes1 {
    top: 138px;
    left: 91px;
}
#eyes2 {
    top: 138px;
    left: 81px;
}
@-webkit-keyframes pm {
    0% {
        .transform(translate3d(-320px, 0px, 0));
    }
    60% {
        .transform(translate3d(10px, 0px, 0));
    }
    100% {
        .resetTranslate();
    }
}
@-webkit-keyframes designer {
    0% {
        .transform(translate3d(-320px, 0px, 0));
    }
    100% {
        .resetTranslate();
    }
}
@-webkit-keyframes eyes1 {
    0% {
        .transform(translate3d(0, 0, 0));
    }
    50% {
        .transform(translate3d(4px, 0, 0));
    }
    100% {
        .transform(translate3d(0, 0, 0));
    }
}
@-webkit-keyframes engineer {
    0% {
        .transform(translate3d(-320px, 0px, 0));
    }
    20% {
        .transform(translate3d(0, 0, 0));
    }
    100% {
        .resetTranslate();
    }
}
#cloud {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(app/images/cloud.png);
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
}
@-webkit-keyframes cloud {
    0%   { .rotateZ(); }
    25%  { .rotateZ(90deg); }
    50%  { .rotateZ(180deg); }
    75%  { .rotateZ(270deg); }
    100% { .rotateZ(360deg); }
}
@-webkit-keyframes earthsWrapper {
    0% {
        .transform(scale3d(1, 0, 1));
    }
    80% {
        .transform(scale3d(1, 1.2, 1));
    }
    100% {
        .transform(scale3d(1, 1, 1));
    }
}
#earth {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(app/images/earth.png);
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
}
#hot {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(app/images/hot.png);
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
}
#dialog-pome {
	position: absolute;
	top: 145px;
	left: 122px;
	background-color: @color-white;
	background-size: 60px 30px;
	border-radius: 20px;
	width: 60px;
	height: 30px;
}
@-webkit-keyframes dialog-pome {
    0% {
        .transform(scale3d(0, 0, 1));
    }
    100% {
        .transform(scale3d(1, 1, 1));
    }
}
#dialog-text{
	color: @color-red;
	font-size: 16px;
    text-align: center;
    font-style: normal;
    padding-top: 2px;
}
#dialog-pome:before{
	position: absolute;
	top: -12px;
	left: 38px;
    border-style: solid solid solid solid;
    border-width: 0 3px 13px 3px;
    border-color: transparent transparent @color-white transparent;
    width: 0;
    height: 0;
    display: block;
    content: '';
}
.card {
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 50%;
    margin-left: -60px;
    border-radius: 0 0 4px 4px;
    width: 120px;
    height: 160px;
    background-size: 120px 160px;
}
.card-small {
    position: absolute;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -55px;
    border-radius: 0 0 4px 4px;
    width: 110px;
    height: 150px;
    background-size: 110px 150px;
}
@-webkit-keyframes card5 {
    0% {
        .rotateZ();
    }
    100% {
        .rotateZ(14deg);
    }
}
@-webkit-keyframes card4 {
    0% {
        .rotateZ(0);
    }
    100% {
        .rotateZ(-14deg);
    }
}
@-webkit-keyframes card3 {
    0% {
        .rotateZ();
    }
    100% {
        .rotateZ(-7deg);
    }
}
@-webkit-keyframes card2 {
    0% {
    	.rotateZ();
    }
    100% {
    	.rotateZ(7deg);  
    }
}
@-webkit-keyframes cardsWrapper {
    0% {
        .transform(scale3d(0, 0, 1));
    }
    100% {
        .transform(scale3d(1, 1, 1));
    }
}
.card-show {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 120px 120px;
}
#card-show1 {
	.card-show();
	width: 120px;
    height: 120px;
	background-color: #fdd835;
}
#card-show2 {
    .card-show();
    width: 110px;
    height: 110px;
    background-color: #7cb342;
}
#card-show3 {
    .card-show();
    width: 110px;
    height: 110px;
    background-color: #00acc1;
}

#card-show4 {
    .card-show();
    width: 110px;
    height: 110px;
    background-color: #3949ab;
}
#card-show5 {
    .card-show();
    width: 110px;
    height: 110px;
    background-color: #00897b;
}
#card-bag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(app/images/bag.png);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}
#card-shoes {
    position: absolute;
    top: 15px;
    left: 15px;
    background: url(app/images/shoes.png);
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
}
#card-chair {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(app/images/chair.png);
    background-size: 90px 90px;
    width: 90px;
    height: 90px;
}
#card-iwatch {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(app/images/iwatch.png);
    background-size: 90px 90px;
    width: 90px;
    height: 90px;
}
#card-breakfast {
    position: absolute;
    top: 20px;
    left: 20px;
    background: url(app/images/breakfast.png);
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
}
#card-content1 {
    position: absolute;
    top: 128px;
    left: 14px;
    background-color: @color-black*16.7;
    background-size: 70px 10px;
    width: 70px;
    height: 10px;
}
@-webkit-keyframes card-content1 {
    0% {
        .transform(scale3d(0,0,1));
    }
    100% {
        .transform(scale3d(1,1,1));
    }
}
#card-content2 {
    position: absolute;
    bottom: 8px;
    left: 14px;
    background-color: @color-black*16.7;
    background-size: 50px 10px;
    width: 50px;
    height: 10px;
}
@-webkit-keyframes card-content2 {
    0% {
        .transform(scale3d(0,0,1));
    }
    100% {
        .transform(scale3d(1,1,1));
    }
}
.icon-shopping-cart {
    position: absolute;
    bottom: 4px;
    right: 10px;
    color: #ef6f59;
    width: 15px;
    height: 24px;
}

.pageInfo {
    text-align: center;
    padding: 0 @basic-gap @basic-gap;
    line-height: 1.2;
}
.pageTitle {
    color:#dd4b39;
    margin-bottom: @basic-gap/2;
    font-size: 20px;
}
.pageDetail {
    color: #757575;
    font-size: 12px;
}
